<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Anime</title>
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- header start -->
    <%- include('admin-header') %>
    <!-- header end -->
    <!-- Main Start -->
    <main class="main">
        <section class="form-section">
            <h2>Add New Episode</h2>
            <form action="/admin/adding-episode" class="add-form" name="add-form" method="post" enctype="multipart/form-data">

                <input type="number" name="animeId" id="animeId" value="<%= id %>" required style="display: none;" >

                <label for="episodeNumber">Episode No.<span style="color: #D65A31;">&nbsp;*</span></label>
                <input type="number" name="episodeNumber" id="episodeNumber" placeholder="1" required>

                <label for="episodeTitle">Episode&nbsp;Title<span style="color: #D65A31;">&nbsp;*</span></label>
                <input type="text" name="episodeTitle" id="episodeTitle" placeholder="I'm Luffy! The Man Who's gonna be a King of Pirate" required>


                <label for="episodeFile">Video file<span style="color: #D65A31;">&nbsp;*</span></label>
                <input type="file" name="episodeFile" id="episodeFile " accept="video*/" required>

                <label for="episodeDuration">Duration<span style="color: #D65A31;">&nbsp;*</span></label>
                <input type="text" name="episodeDuration" id="episodeDuration" placeholder="24min" required>

                <div class="form-action-btn">
                    <button type="reset">Reset</button>
                    <button type="submit">Add</button>
                </div>
                
                    
            </form>
        </section>
        
        
    </main>
    <!-- Main End -->
    <!-- footer start -->
    <%- include('admin-footer') %>
    <!-- footer end -->


    <button class="back-to-top" onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>


    <!-- Scripts start -->
    <script src="/public/scripts/admin.js"></script>
    <script src="/public/scripts/file-include.js"></script>
    <!-- Scripts end -->
</body>
</html>