<!-- Header Start -->
<header id="header">
    <div class="logo"><a href="/"><img src="/public/img/Ani-weebs logo.png" alt="Logo" width="100%" ></a></div>
</header>
<!-- Header End -->
<!-- Aside Start -->
<aside>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/admin/home">Dashboard</a>
        <a href="/admin/manage-anime">Manage Anime</a>
        <a href="/admin/manage-movies">Manage Movies</a>
        <a href="">Change Password</a>
        <a href="/admin/logout" onclick="return confirm('Are you sure, you want to Logout');">Log Out</a>
    </div>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <div>
        <a href="/admin/logout" onclick="return confirm('Are you sure, you want to Logout');"><button class="sign-out-button">Log Out</button></a>
    </div>
</aside>
<!-- Aside End -->