
    <!-- Header start -->
    <header class="header">
        <div class="logo"><a href="/"><img src="/public/img/Ani-weebs logo.png" alt="Logo" width="100%" ></a></div>
        <div class="nav">
            <ul>
                <li class="nav-item"><a href="/">HOME</a></li>
                <li class="nav-item"><a href="/#about">ABOUT</a></li>
                <li class="nav-item"><a href="/anime">ANIME</a></li>
                <li class="nav-item"><a href="/movies">MOVIES</a></li>
                <li class="nav-item"><a href="/#top-rated-anime">TOP RATED</a></li>
                <li>
                    <button class="search-btn" onclick="openSearch()">
                        <span style="background-color: rgba(0, 0, 0, 0);" class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </li>
                
            </ul>
        </div>
    </header>
    <!-- HEADER END -->
    <!-- Aside Start -->
    <aside>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <a href="/anime">Anime</a>
            <a href="/movies">Movies</a>
            <a href="/#top-rated-anime">Top Rated</a>
        </div>
            <button class="openbtn" onclick="openNav()">&#9776;</button>
            <button  class="search-btn" onclick="openSearch()">
                <span style="background-color: rgba(0, 0, 0, 0);" class="material-symbols-outlined">
                    search
                </span>
            </button>
            
    </aside>
    <!-- Aside End -->
    <!-- <script src="../scripts/main.js"></script>
    <script src="../scripts/file-include.js"></script> -->
